{% extends 'BlogBundle::layout.html.twig' %}

{% block body %}
    <div style="background-color: whitesmoke;margin-left:20px;width:75%;">
      <h5>{{article.title}}</h2>
      <p>Category: {{article.category.name}}</p>
      <p>{{article.content|raw}}</p>.
      <p>By: {{article.user.username}}, {{article.getPostDate()|date("d/m/Y")}}</p>
      <p>Tags:<i>
        {% for tag in article.tags %}
          {{tag.name}}
        {% endfor %}
      </i></p>
      {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('blog_delete', {'id': article.id}) }}">Delete</a>
        <a href="{{ path('blog_edit', {'id': article.id}) }}">Edit</a>
      {% endif %}
    </div>
    <div style="margin-left:50px;">
      <b>Comments</b>
      {% for comment in comments %}
        <div style="background-color: gainsboro;margin-bottom: 10px;width:20%;">
          <h6><u>By {{ comment.author }}</u></h6>
          <p>{{ comment.content }}</p>
          <p><i>{{ comment.postDate|date("d/m/Y") }}</i></p>
        </div>
      {% endfor %}
      <b>Post a comment:</b>
      {% form_theme form 'BlogBundle::fields.html.twig' %}
      {{ form_start(form, {'attr': {'class': 'col s6'}}) }}
        {{ form_row(form.author) }}
        {{ form_row(form.content) }}
      {{ form_end(form) }}
    </div>
{% endblock %}
